.image{
  background: url("/assets/images/home-banner.jpg");
  background-size: cover;
  background-position: center;
}

/* :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
}
.container {
  padding: 10px;
}
.form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}
.example-button-row a {
  padding-left: 350px;
}

.bg-image {
}

.login-heading {
  font-weight: 300;
  font-size: 30px;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
}

.form-b {
  margin-top: 15px;
}
.example-container .mat-form-field .input {
  margin-left: 24px;
  width: 300%;
}

.form-field {
  padding: 1px 0px 15px 2px;
  margin-top: -5px;
  margin-bottom: -25px;
  width: 100%;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 2rem;
  width: 100%;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  Override default `<label>` margin
  line-height: 1.5;
  color: #495057;
  cursor: text;
  Match the input under the label
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
} */
