<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="image"></mat-grid-tile>
    <mat-grid-tile>
        <form class="login-form">
            <mat-form-field appearance="fill">
                <mat-label>Enter your phone number</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="1234567890">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="phoneno.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
            </mat-form-field>
            <button class=" form-b text-uppercase font-weight-bold mb-2" mat-raised-button color="primary"
                (click)="login()">LOGIN</button>
            <a mat-button href="https://www.google.com/" target="_blank"><u>Forgot password</u></a>
        </form>
    </mat-grid-tile>
</mat-grid-list>