<div>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      <span id="logo-text">{{title}}</span>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <!-- <button mat-button routerLink="/cart">Cart</button>
      <button mat-button routerLink="/cart/add">Add Product</button> -->
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <span>menu</span>
    </button>

  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/cart">Cart</button>
    <button mat-menu-item routerLink="/cart/add">Add Product</button>
    <!--<button mat-menu-item>Help</button>-->
  </mat-menu>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <div>
  <h1>{{ title }}</h1>
  <app-header></app-header>
  <router-outlet></router-outlet>
</div> -->