@import '~@angular/material/theming';

@include mat-core();

$pixel-primary: mat-palette($mat-purple, 500);
$pixel-accent:  mat-palette($mat-pink, A200, A100, A400);
$pixel-warn:    mat-palette($mat-deep-orange, 500);


$pixel-theme: mat-light-theme((
  color: (
    primary: $pixel-primary,
    accent: $pixel-accent,
    warn: $pixel-warn,  
  )
));

@include angular-material-theme($pixel-theme);